@{
    ViewBag.Title = "Applications list";
    Layout = "_Layout";
}
<hr />
<div class="dx-fieldset-header" id="clientcomp-header"></div>
<div class="dx-fieldset-header" id="lastupdated-header"></div>
<div id="button-clientcomputer"></div>
<div id="datagrid"></div>
<div id="navbar"></div>
