@model object

@{
    ViewBag.Title = "Publishers Chart";
    Layout = "_Layout";
}
<hr/>
<div class="dx-fieldset-header" id="clientcomp-header"></div>
<div class="dx-fieldset-header" id="lastupdated-header"></div>

<div id="piechart"></div>
